.env
__pycache__
/__pycache__/*
.pyc
main.py
postgres_data_warehouse/*
postgres_airflow_data
logs
config
datalake/bronze/*
AIQ - Data Engineer Assignment - Updated 27 September 2023.pdf
AIQ Sales Analysis.pbix
arch/